@use '../../partials/partial' as *;

.gallery {
  display: flex;
  max-width: 28.1rem;
  margin: auto;

  @include tablet {
    max-width: 48rem;
  }
  @include desktop {
    max-width: 64rem;
  }

  &__images img {
    height: 14.45rem;
    width: 28.1rem;
    object-fit: cover;

    @include tablet {
      height: 191px;
      width: 382px;
    }
    @include desktop {
      height: 127px;
      width: 253px;
    }
  }
  &__images {
    display: flex;
    align-items: center;
    // flex-direction: column;
    // flex-wrap: wrap;
    margin-top: 2rem;
    position: relative;
    text-align: center;
    color: white;

    @include tablet {
      margin-top: 0;
    }
  }

  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: bold;
    font-size: 1.5rem;
    transform: translate(-50%, -50%);
  }

  &-wrap {
    @include tablet {
      display: flex;
      flex-wrap: wrap;
    }
    @include desktop {
      flex-wrap: nowrap;
    }
  }

  &-img1 {
    @include tablet {
      margin-right: 0.25rem;
      margin-bottom: 0.25rem;
    }
    @include desktop {
      margin-bottom: 0;
    }
  }
  &-img2 {
    @include tablet {
      margin-bottom: 0.25rem;
    }
    @include desktop {
      margin-right: 0.25rem;
      margin-bottom: 0;
    }
  }
  &-img3 {
    @include tablet {
      margin-right: 0.25rem;
    }
  }
}
