@use '../../partials/partial' as *;

.gallery {
  display: flex;
  max-width: 28.1rem;
  margin: auto;

  @include tablet {
    max-width: 48rem;
    margin: auto;
  }

  &__images img {
    height: 14.45rem;
    width: 28.1rem;
    object-fit: cover;

    @include tablet {
      height: 191px;
      width: 382px;
    }
  }
  &__images {
    display: flex;
    align-items: center;
    // flex-direction: column;
    flex-wrap: wrap;
    margin-top: 2rem;
    position: relative;
    text-align: center;
    color: white;
  }

  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: bold;
    font-size: 1.5rem;
    transform: translate(-50%, -50%);
  }
}
