@use '../../partials/partial' as *;

.footer {
  // margin-top: 4rem;
  width: 450px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.1em;

  @include tablet {
    // max-width: 48rem;
    width: 48rem;
    margin: auto;
    flex-direction: row;
    // vertical-align: ba;
    // margin-left: 1.5rem;
  }

  h4 {
    color: #2c2723;
  }
  p {
    color: #adadad;
  }
  &-info {
    line-height: 3rem;
    width: 80px;

    @include tablet {
      display: inline-block;
      vertical-align: top;
      width: 107px;
      padding-right: 10px;
      font-size: 14px;
      text-align: left;
      margin-left: 1rem;
    }
  }
  &-bio {
    h4 {
      margin: 1.2rem 0 1rem 0;
    }
    p {
      line-height: 1.5rem;
    }

    @include tablet {
      width: 216px;
      text-align: left;
      margin-right: 1.5rem;
      margin-left: 0.96rem;
    }
  }

  &__mobile-divider {
    border-top: 1px solid #e5e5e5;
    margin-top: 2.1rem;
    margin-bottom: 3rem;
    width: 450px;

    @include tablet {
      display: none;
    }
  }

  &-email {
    width: 433px;
    height: 45px;
    margin-top: 1.5rem;
    border-radius: 5px;
    color: #525252;
    padding: 5px 0 5px 15px;
    border: none;
    border: 1px solid #e5e5e5;
    background-image: url("../../assets/icons8-mail-24.png");
    background-repeat: no-repeat;
    background-position-x: 25rem;
    background-position-y: center;

    @include tablet {
      width: 216px;
      background-position-x: 11.7rem;
      margin-bottom: 2rem;
    }
  }

  &-socials {
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
  }
  &-twitter {
    margin: 0 1.5rem;
  }

  &__email-container {
    @include tablet {
      width: 216px;
      margin-top: 5.5rem;
    }
  }
}
