@use '../../partials/partial' as *;

.footer {
  // margin-top: 4rem;
  width: 450px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.1em;
  h4 {
    color: #2c2723;
  }
  p {
    color: #adadad;
  }
  &-info {
    line-height: 3rem;
    width: 80px;
  }
  &-bio {
    h4 {
      margin: 1.2rem 0 1rem 0;
    }
    p {
      line-height: 1.5rem;
    }
  }

  hr {
    border-top: 1px solid #e5e5e5;
    margin-top: 2.1rem;
    margin-bottom: 3rem;
    width: 450px;
  }

  &-email {
    width: 433px;
    height: 45px;
    margin-top: 1.5rem;
    border-radius: 5px;
    color: #525252;
    padding: 5px 0 5px 15px;
    border: none;
    border: 1px solid #e5e5e5;
    background-image: url("../../assets/icons8-mail-24.png");
    background-repeat: no-repeat;
    background-position-x: 25rem;
    background-position-y: center;
  }

  &-socials {
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
  }
  &-twitter {
    margin: 0 1.5rem;
  }
}
